div {
    .tree-supply {
        background-color: orange;
    }
}

.tree-supply-button {
    :hover {
        color: orangered;
    }
}

.tree-shuffle-button {
    :hover {
        color: yellow;
    }
}